[Unit]
Description=systemd service for aft relay.
After=network.target

[Service]
ExecStart=/usr/local/bin/aft relay
Restart=on-failure
MemoryDenyWriteExecute=true
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
PrivateIPC=true
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RemoveIPC=true
ProtectProc=invisible
LockPersonality=true
StandardOutput=append:/var/log/aft-relay.log
StandardError=append:/var/log/aft-relay.log
ReadWritePaths=/var/log/aft-relay.log
LogsDirectory=/var/log
User=aft

[Install]
WantedBy=multi-user.target
